@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */


body{
    background-color: #161717;
    color : #FAFAFA;
    caret-color: #21c063;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #0b1014;
    }
}   



.grow-width {
  animation: growWidth 0.2s ease-in-out;
}

@keyframes growWidth {
  from {
    transform: scaleX(0.9);
  }
  to {
    transform: scaleX(1);
  }
}






::-webkit-scrollbar {
  width: 7px;   
  height: 7px;
}


::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #2d2e2e; 
  border-radius: 10px;
  border: 1px solid transparent; 
}

html:hover::-webkit-scrollbar-thumb, 
body:hover::-webkit-scrollbar-thumb,
.scrollable-content:hover::-webkit-scrollbar-thumb {
  background-color: #C0C0C1; 
}


::-webkit-scrollbar-thumb:hover {
  background-color: #C0C0C1; 
}


* {
  scrollbar-width: thin; 
  scrollbar-color: #2d2e2e transparent; 
}