@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */


body{
    background-color: #161717;
    color : #FAFAFA;
    caret-color: #21c063;
}


button:hover{
cursor: pointer;
}

button:focus-visible {
  outline: 2px solid #21c063; /* color change kar diya */
  outline-offset: 2px;     /* thoda space outline ke liye */
}

input::Selection{
   color : #FAFAFA;
    background-color: #1a5a35;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #0b1014;
    }
}   



.grow-width {
  animation: growWidth 0.2s ease-in-out;
}

@keyframes growWidth {
  from {
    transform: scaleX(0.9);
  }
  to {
    transform: scaleX(1);
  }
}


.slide-in {
  animation: slideIn 0.3s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;

}

@keyframes slideIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
    /* display: flex; */
  }
  60% {
    /* transform: scaleX(1); */
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    /* opacity: 1; */
  }
}

@keyframes slideOut {
  0% {
    transform: scaleX(1);
     opacity: 1;
    /* right: -1%; */
  }
  
  100% {
    transform: scaleX(0);
    /* right: -5%; */
    /* display: none; */
    opacity: 0;
  }
}




.subSlide-in,
.subSlide-out {
  transform-origin: right;
  transition: transform 0.3s ease, opacity 0.2s ease;
}





.subSlide-in {
  transform: translateX();
  /* opacity: 1; */
}

.subSlide-out {
  transform: translateX(100%);
  /* opacity: 0; */
}






::-webkit-scrollbar {
  width: 7px;   
  height: 7px;
}


::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #2d2e2e; 
  border-radius: 10px;
  border: 1px solid transparent; 
}

html:hover::-webkit-scrollbar-thumb, 
body:hover::-webkit-scrollbar-thumb,
.scrollable-content:hover::-webkit-scrollbar-thumb {
  background-color: #C0C0C1; 
}


::-webkit-scrollbar-thumb:hover {
  background-color: #C0C0C1; 
}


* {
  scrollbar-width: thin; 
  scrollbar-color: #2d2e2e transparent; 
}
